/* ===== Global Layout ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #d7e5f0;
}

/* ===== Top Header ===== */
.top-header {
   background: #144a78; 
  padding: 24px 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  
  
}

.top-header h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  color: white;
}

.logo-circle {
   width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-circle img {
  width: 65px;
  height: 65px;
}

.logout-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid white;
}

/* ===== Dashboard Area ===== */
.dashboard-container {
  max-width: 900px;
  margin: auto;
  padding: 35px;
}

/* ===== Upload Card ===== */
.upload-card {
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

.upload-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* ===== Drag & Drop Box ===== */
.drop-area {
  background: #e5edf5;
  border: 2px dashed #b5c7db;
  padding: 45px;
  text-align: center;
  font-size: 15px;
  color: #555;
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
}

.drop-area input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* ===== Upload Button ===== */
.upload-btn {
  background: #be1e2d;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 25px;
}

/* ===== Divider ===== */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.divider span {
  flex: 1;
  height: 1px;
  background: #aaa;
  margin: 0 10px;
}

/* ===== Manual Entry Section ===== */
.manual-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.manual-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 14px;
  border: none;
  border-bottom: 2px solid #444;
  font-size: 16px;
  background: transparent;
}

/* ===== Buttons ===== */
.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.cancel-btn {
  background: white;
  border: 1px solid #888;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.continue-btn {
  background: #be1e2d;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

/* ===== Error Text ===== */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
